button {
    width: auto;
    padding: 4px;
    margin-right: 10px;
}

.toolbar button {
    height: 100%;
    border: 1px solid transparent;
    display: flex;
    cursor: pointer;
    border-radius: unset;
    line-height: 23px;
    outline: none;
    padding-right: 8px;
}

    .toolbar button:hover {
        border-color: #1b8bd4;
        background-color: #ffffff;
    }

.dialog-title .title-button-close {
    position: absolute;
    right: 0;
    border: 1px solid #ccc;
    width: 16px;
    height: 16px;
    background-image: url('/content/images/cancel.png');
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center;
    cursor: pointer;
}

.dialog-footer .btn-right {
    display: flex;
    margin-right: 5px;
}

.dialog-footer .btn-left {
    margin-left: 10px;
}

.dialog-footer button {
    display: flex;
    line-height: 22px;
    align-items: center;
    height: 32px;
    padding: 0px 20px;
    background-color: transparent;
    border: 1px solid #ccc;
    cursor: pointer;
}
    .dialog-footer button:focus {
        border-color: #1b8bd4;
    }

    .dialog-footer button:hover {
        cursor: pointer;
        border-color: #1b8bd4;
    }

button#btnCancel {
    margin-right: 5px;
}
