.content {
    width: calc(100% - 250px);
    height: 100%;
}

.content-body {
    padding: 10px;
    height: calc(100% - 20px);
    position: relative;
}

    .content-body .page-title h1 {
        margin: 5px 0px;
        font-size: 18px;
    }

.page-title h1 span {
    color: #0d86d6;
    margin-left: 20px;
}

.page-title .triangle {
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #0973b9;
    width: 0;
    height: 0;
    position: absolute;
    top: 18px;
    left: 100px;
}
  