.dialog-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    background-color: #000;
    display: none;
}

.dialog {
    display: none;
    position: absolute;
    top: calc(50% - 225px);
    left: calc(50% - 350px);
    width: 700px;
    height: 450px;
    border: 10px solid #0973b9;
    border-radius: 10px;
}

    .dialog .dialog-title {
        height: 25px;
        background-color: #0973b9;
        color: #fff;
        display: flex;
    }

    .dialog .dialog-body {
        background-color: #fff;
        height: calc(100% - 75px);
        padding: 5px;
    }

.dialog-body .col-2 {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 10px 5px;
}

.dialog-body .col {
    display: grid;
    grid-template-columns: 100% 0%;
    margin: 10px 5px;
}

.information-field {
    display: flex;
    width: 100%;
}

    .information-field label {
        width: 150px;
        display: block;
    }

    .information-field input, textarea {
        width: calc(100% - 165px);
        padding: 0px 4px;
        border: 1px solid #ccc;
    }

    .information-field input {
        height: 20px;
    }

        .information-field input:focus, textarea:focus {
            border: 1px solid #0973b9;
        }
select,input,textarea,button{
    outline: none;
}
    .information-field select {
        width: calc(100% - 155px);
        height: 25px;
        border: 1px solid #ccc;
    }

    .information-field textarea {
        height: 100px;
    }

label span {
    padding: 0px 1px;
    color: red;
}

.dialog .dialog-footer {
    height: 40px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.required-error, .required-error:focus {
    border: 1px solid #ff0000 !important;
}