.grid {
    position: absolute;
    border: 1px solid #ccc;
    top: 50px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

    .grid::-webkit-scrollbar-thumb {
        background-color: #000;
    }


    /*grid toolbar*/
    .grid .toolbar {
        height: 30px;
        width: 100%;
        display: flex;
        background-color: rgb(239,239,239);
    }

.grid-content .toolbar {
    height: 30px;
    width: 100%;
    display: flex;
    background-color: rgb(239,239,239);
}

.toolbar .split {
    margin: 4px 10px 0px 0px;
    border: 0.5px solid #ccc;
    height: 20px;
}

/* end grid toolbar*/


/*grid content*/
.grid .grid-content {
    height: calc(100% - 60px);
    width: 100%;
    overflow: auto;
}

    .grid .grid-content::-webkit-scrollbar {
        width: 5px;
        background-color: rgb(239,239,239);
    }

.grid-content table {
    width: 100%;
    border-collapse: collapse;
}

table td, th {
    padding: 4px 10px;
    cursor: pointer;
    border: 1px solid #dddddd;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden
}

    table td:first-child, th:first-child {
        border-left: none;
    }

    table td:last-child, th:last-child {
        border-right: none;
    }

table thead {
    background-color: rgb(239,239,239);
}

table .text-center {
    text-align: center;
}

table .text-right {
    text-align: right;
}
/* chia độ rộng của từng cột */
#CustomerCode {
    width: 120px;
}

th#Address {
    width:150px;
}

th#Mobile {
    width: 150px;
}

th#DebitMoney {
    width: 150px;
}

th#Birdday {
    width: 150px;
}

th#Gender {
    width: 100px;
}

th#CustomerName {
    min-width: 200px;
}
/* chia độ rộng của từng cột */

table tr:hover :not(th) {
    background-color: #b8e3ff;
    cursor: pointer;
}

.row-selected {
    background-color: #007ece66;
}

/*end grid content*/

/*grid paging*/
.grid .paging {
    height: 30px;
    width: 100%;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}

.paging .paging-left {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.paging .paging-right {
    margin-right: 10px;
    align-self: center;
}

.paging-left .paging-icon {
    width: 25px;
    height: 25px;
    background-image: url('../../content/images/grid/page-last.png');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    cursor: pointer;
    margin-right: 10px;
}

.paging-left #txtPageNumber, #txbNumber {
    width: 40px;
    height: 20px;
    margin: -3px 10px;
}

.paging-left .paging-left-center {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 0px 10px;
    display: flex;
    height: 20px;
    margin-right: 10px;
}

.paging-left .paging-refresh {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 0px 10px;
}

.paging-left .paging-text {
    display: block;
    margin: 5px;
    line-height: 10px;
}

/*end grid paging*/
