.grid .paging {
    height: 30px;
    width: 100%;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}

.paging .paging-left {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.paging .paging-right {
    margin-right: 10px;
    align-self:center;
}

.paging-left .paging-icon {
    width: 25px;
    height: 25px;
    background-image: url('../../content/images/grid/page-last.png');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    cursor: pointer;
    margin-right: 10px;
}

.paging-left #txtPageNumber, #txbNumber {
    width: 40px;
    height: 20px;
    margin: -3px 10px;
}

.paging-left .paging-left-center {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 0px 10px;
    display: flex;
    height: 20px;
    margin-right: 10px;
}

.paging-left .paging-refresh {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 0px 10px;
}

.paging-left .paging-text {
    display: block;
    margin: 5px;
    line-height: 10px;
}
