.grid {
    position: absolute;
    border: 1px solid #ccc;
    top: 50px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

    .grid::-webkit-scrollbar-thumb {
        background-color: #000;
    }


    /*grid toolbar*/
    .grid .toolbar {
        height: 30px;
        width: 100%;
        display: flex;
        background-color: rgb(239,239,239);
        border-bottom: 0.5px solid #ccc;
    }



.grid-content .toolbar {
    height: 30px;
    width: 100%;
    display: flex;
    background-color: rgb(239,239,239);
}

.toolbar .split {
    margin: 4px 10px 0px 0px;
    border: 0.5px solid #ccc;
    height: 20px;
}

/* end grid toolbar*/


/*grid content*/
.grid .grid-content {
    height: calc(100% - 60px);
    width: 100%;
    overflow-x: hidden;
}

    .grid .grid-content::-webkit-scrollbar {
        width: 5px;
        background-color: rgb(239,239,239);
    }

.grid-content table {
    width: 100%;
    border-collapse: collapse;
}


table td:first-child, th:first-child {
    border-left: none;
}

table td:last-child, th:last-child {
    border-right: none;
}

table thead {
    background-color: rgb(239,239,239);
}

thead th {
    position: sticky;
    top: -1px;
    background-color: #efefef;
    border-top: none;
    height: 20px;
}

table .text-center {
    text-align: center;
}

table .text-right {
    text-align: right;
}

#tbListData td, th {
    padding: 4px 10px;
    cursor: pointer;
    border: 1px solid #dddddd;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* chia độ rộng của từng cột */
.Birdday, .Mobile, .Salary, .PositionName, .DepartmentName, .WorkStatusName {
    width: 100px;
    max-width: 100px;
}

.EmployeeCode, .GenderName {
    width: 50px;
    max-width: 50px;
}

.EmployeeName {
    width: 150px;
    max-width: 150px;
}

.Email {
    width: 150px;
    max-width: 150px;
}

/* chia độ rộng của từng cột */
table tr:hover :not(th) {
    background-color: #b8e3ff;
    cursor: pointer;
}

/*end grid content*/

/*grid paging*/
.grid .paging {
    height: 30px;
    width: 100%;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}

.paging .paging-left {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.paging .paging-right {
    margin-right: 10px;
    align-self: center;
}

.paging-left .paging-icon {
    width: 25px;
    height: 25px;
    background-image: url('../../content/images/grid/page-last.png');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    cursor: pointer;
    margin-right: 10px;
}

.paging-left #txtPageNumber, #txbNumber {
    width: 40px;
    height: 20px;
    margin: -3px 10px;
    border: 1px solid #ccc;
}

.paging-left .paging-left-center {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 0px 10px;
    display: flex;
    height: 20px;
    margin-right: 10px;
}

.paging-left .paging-refresh {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 0px 10px;
}

.paging-left .paging-text {
    display: block;
    margin: 5px;
    line-height: 10px;
}

input#txbNumberRecord {
    width: 40px;
    margin-left: 15px;
    height: 20px;
}
select#txbNumberRecord {
    width: 50px;
    height: 25px;
    margin: 0px 0px 2px 10px;
    outline: none;
    border: 1px solid #ccc;
}
/*end grid paging*/
button.hiden {
    opacity: 0.5;
    cursor: default !important;
}


