.grid .toolbar {
    height: 30px;
    width: 100%;
    display: flex;
    background-color: rgb(239,239,239);
}
.grid-content .toolbar {
    height: 30px;
    width: 100%;
    display: flex;
    background-color: rgb(239,239,239);
}

.toolbar .btn-split {
    margin: 4px 4px 0px 0px;
    border: 0.5px solid #ccc;
    height: 20px;
}
