body {
    margin: 0;
    padding: 0;
    font-family: 'MISA Fronts','MISA Fronts Bold', 'MISA Fronts fontello';
    font-size: 15px;
}

@font-face {
    font-family: MISA Fronts;
    src: url("../../content/fonts/Tahoma_Regular.woff");
}

@font-face {
    font-family: MISA Fronts Bold;
    src: url('../../content/fonts/Tahoma_Bold.woff') format('woff');
}

@font-face {
    font-family: MISA Fronts fontello;
    src: url('../../content/fonts/fontello.woff') format('woff');
}


textarea {
    height: 60px;
    width: 80%;
}



.row {
    display: flex;
    width: 100%;
}

    .row .information-field {
        display: flex;
        line-height: 20px;
        width: calc(100% - 10px);
        padding: 5px;
    }

.information-field input, select, textarea {
    border: 1px solid #ccc;
    float: left;
    width: calc(100% - 125px);
    padding-left: 3px;
}

.information-field select, input {
    width: 165px;
    height: 22px;
}

    input.short-info {
        width: 158px;
    }

.information-field input:focus, textarea:focus {
    border: 1px solid #0973b9;
    outline: none;
}

.information-field label {
    width: 120px;
}

label span {
    padding: 0px 1px;
    color: red;
}



.btn-Disable {
    opacity: 0.5;
}
