body {
    margin: 0;
    padding: 0;
    font-family: 'MISA Fronts','MISA Fronts Bold', 'MISA Fronts fontello';
    font-size: 15px !important;
}

@font-face {
    font-family: MISA Fronts;
    src: url("../../content/fonts/Tahoma_Regular.woff");
}

@font-face {
    font-family: MISA Fronts Bold;
    src: url('../../content/fonts/Tahoma_Bold.woff') format('woff');
}

@font-face {
    font-family: MISA Fronts fontello;
    src: url('../../content/fonts/fontello.woff') format('woff');
}


.bottom {
    display: flex;
    width: 100%;
    height: calc(100vh - 60px);
}

