.top {
    display: flex;
    background-color: #0973b9;
    height: 60px;
}

.logo {
    width: 250px;
    height: 60px;
    display: flex;
}

    .logo #iconbar {
        height: 100%;
        width: 50px;
        background-image: url('../../content/images/icon-left-header.png');
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .logo #logo-text {
        height: 100%;
        width: 200px;
        background-image: url('../../content/images/logo-text.png');
        background-repeat: no-repeat;
        background-position: 0px 19px;
        cursor: pointer;
    }

.header {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #0973b9;
    justify-content: space-between;
}

.header-left {
    align-self: center;
}

.header-right {
    display: flex;
    align-items: center;
}

    .header-right > * {
        margin-right: 20px;
    }

    .header-right .user {
        display: flex;
        color: #fff;
        align-items: center;
        font-size: 17px;
        width: 185px;
        margin-right: 10px;
        cursor: pointer;
    }

        .header-right .user:hover {
            cursor: pointer;
        }

    .header-right div.user > * {
        margin-left: 10px;
    }

    .header-right .user .user-avatar {
        background-image: url('../../content/employeeimage.png');
        border-radius: 50%;
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -1px 0px;
        background-color: #fff;
    }

    .header-right .user .user-detail {
        background-image: url('../../content/images/button/default-small-arrow.png');
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 3px 0px;
    }

#restaurant {
    width: 250px;
    height: 35px;
    background-color: #0e588a;
    color: #fff;
}

.header-right .notification {
    position: relative;
    cursor: pointer;
}

.header-right .notification-icon {
    background-image: url('../../content/images/world.png');
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-size: cover;
}

.header-right .notification-number {
    width: 20px;
    height: 20px;
    background-color: red;
    color: #fff;
    position: absolute;
    text-align: center;
    top: -4px;
    right: -6px;
}


.header-right .support {
    background-image: url('../../content/images/ic_support.svg');
    width: 70px;
    height: 58px;
    background-repeat: no-repeat;
    background-position: -14px 0px;
    background-size: cover;
    cursor: pointer;
    margin: 0px;
}

.header-right #language {
    width: 250px;
    height: 35px;
    background-color: #0e588a;
    color: #fff;
}

.user-selection {
    position: absolute;
    top: 55px;
    right: -10px;
    border-radius: 10px;
    overflow: auto;
    width: 180px;
    border: 1px solid #ccc;
    height: 50px;
    z-index: 2;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
}

.show-selectiton {
    visibility: visible;
    opacity: 1;
}

.user-selection ol {
    list-style: none;
    padding: 2px;
    margin: 2px;
    text-align: center;
}

    .user-selection ol li a {
        text-decoration: none;
    }

.user-selection::-webkit-scrollbar {
    width: 3px;
}
